<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h4>Check yourself</h4>
      <form [formGroup]="checkWordForm" (ngSubmit)="checkRandomWord($event)" class="well">
        <div class="form-inline app-inline-form">
          <div class="form-group">
            <label for="checkEnglishWord">English</label>
            <input type="text"
                   class="form-control"
                   id="checkEnglishWord"
                   [(ngModel)]="checkWord.eng"
                   formControlName="eng">
            <br>
            <input id="engControl"
                   name="engControl"
                   type="checkbox"
                   class="custom-checkbox"
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="checkFilter.eng"><label for="engControl" class="checkbox-label">check English</label>
          </div>
          <div class="form-group">
            <label for="checkRussianWord">Russian</label>
            <input type="text"
                   class="form-control"
                   id="checkRussianWord"
                   [(ngModel)]="checkWord.rus"
                   formControlName="rus">
            <br>
            <input id="rusControl"
                   name="rusControl"
                   type="checkbox"
                   class="custom-checkbox"
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="checkFilter.rus"><label for="rusControl" class="checkbox-label">check Russian</label>
          </div>
          <div class="form-group">
            <label for="checkDutchWord">Dutch</label>
            <input type="text"
                   class="form-control"
                   id="checkDutchWord"
                   [(ngModel)]="checkWord.ned"
                   formControlName="ned">
            <br>
            <input id="nedControl"
                   name="nedControl"
                   type="checkbox"
                   class="custom-checkbox"
                   [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="checkFilter.ned"><label for="nedControl" class="checkbox-label">check Dutch</label>
          </div>
        </div>
        <div class="form-group">
          <label>Part of speech</label>
          <select class="form-control app-select"
                  [(ngModel)]="checkWord.part"
                  formControlName="part">
            <option *ngFor="let part of partsOfSpeech; let i = index" [value]="part">{{part}}</option>
          </select>
        </div>
        <button class="btn btn-default" type="button" [disabled]="!checkWord.part" (click)="getRandomWord($event, checkWord.part)">Get random word</button>
        <button class="btn btn-default" type="submit" [disabled]="!checkWordForm.valid">Check word</button>
      </form>
      <app-add-new-word></app-add-new-word>
    </div>
    <div class="col-sm-6">
      <app-words-table></app-words-table>
    </div>
  </div>

</div>
